.layout-container {
	background-color: var(--bg-primary);
	min-height: 100vh;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
