.event-page {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 16px;
}

.event-page > * + * {
	margin-top: 1.25rem;
}

@media (max-width: 480px) {
	.event-page {
		padding-left: 16px;
		padding-right: 16px;
	}
}
