.page-header {
	width: 100%;
	padding: 2rem 0rem;
	text-align: center;
	color: var(--text-primary);
}

.page-header-container {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.page-header-container h1 {
	font-size: clamp(2.2rem, 4vw, 3rem);
	margin-bottom: 1rem;
	color: var(--text-primary);
}

.page-header-container p {
	color: var(--text-primary);
}
