.homepage-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 60vh;
	background-image: url("/hero.jpg");
	background-size: cover;
	background-position: center;
	border-bottom: 1px solid black;
	filter: brightness(0.8);
}

.h-container {
	width: 100%;
	max-width: 1200px;
	margin: 2rem 0 0 0;
	padding: 0.5rem 0rem;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(8px);
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.homepage-image-content {
	width: 100%;
	max-width: 1200px;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
}

.homepage-image-h1,
.homepage-image-h2,
.homepage-image-h3 {
	margin: 0.5em;
	color: black;
	font-weight: 500;
	text-align: center;
	text-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.homepage-image-h2 {
	font-size: 1em;
}
.homepage-image-h1 {
	font-size: clamp(2.5rem, 5vw, 4rem);
}

.homepage-image-h2 {
	font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.homepage-image-h3 {
	font-size: clamp(2.5rem, 5vw, 4rem);
}

.hero-link {
	display: inline-flex;
	align-items: center;
	gap: 0.35rem;
	font-weight: 400;
	color: black;
	text-decoration: none;
	background-color: white;
	border-radius: 20px;
	border: 1px solid black;
	position: relative;
	padding: 10px;
	transition: color 0.2s ease;
}

.hero-link:hover {
	transform: scale(1.05);
	background-color: #000;
	border: 1px solid white;
	color: #fff;
}
