.search-bar {
	width: 100%;
	max-width: 640px;
	margin: 1.5rem auto;
}

.search-bar input {
	width: 100%;
	padding: 0.75rem 1rem;
	font-size: 1rem;

	background-color: var(--bg-secondary);
	color: var(--text-primary);

	border: 1px solid var(--border-subtle);
	border-radius: 20px;

	outline: none;
}

.search-bar input::placeholder {
	color: var(--text-secondary);
}

.search-bar input:focus {
	border-color: var(--accent-primary);
}
