.text-block {
	width: 100%;
	background-color: #f3f3f3;
	text-align: center;
}

.text-block-container {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.text-block-container p {
	font-size: 1.1rem;
	margin: 3rem 1rem;
	line-height: 1.7;
	color: #444;
}
