.image-gallery {
	width: 100%;
	padding: 3rem 1rem;
}

.image-gallery-container {
	max-width: 1000px;
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	gap: 1.5rem;
}

.image-gallery-container img {
	width: 100%;
	border-radius: 14px;
	object-fit: cover;
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
