.text-block2 {
	width: 100%;
	padding: 3rem 1rem;
	background-color: #fff;
}

.text-block-container2 {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.text-block-container2 p {
	font-size: 1.1rem;
	line-height: 1.7;
	color: #444;
}
