html,
body {
	margin: 0;
	padding: 0;
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	width: 100%;
	overflow-x: hidden;
}

.root {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
